<div class="row">
    <div :class="hover ? 'col-sm-3 m-b' : 'col-sm-05 m-b'"  id="title-box" @mouseover="hover = true" @mouseleave="hover = false">
        <div class="apex-box">
            <div class="display-flex ">
                <div class="page-title pt-2 ps-1-5">
                    <div class="page-title-icon bg-primary shadow text-white">
                        <font-awesome-icon width="16" height="24" class="text-white " :icon="['fas',$route.meta.icon]"/>
                    </div>
                </div>
                <div class="page-title title pt-2 ms-2 p-0" id="box-title" :class="hover ? 'display-block' : 'display-none'" >{{ ($route.meta.description) }}</div>
            </div>
        </div>
    </div>
    <div class="col-12 grid-margin">
        <form class="form-horizontal" v-on:submit="submitForm" v-on:reset="resetForm">
            <div class="card">
                <div class="page-header card-header mb-0">
                    <h3 class="page-title">Template creation form. <small>(<span class="text-danger">* </span>is required fields)</small></h3>
                    <router-link to="/templates" custom v-slot="{ navigate }" class="pull-right ">
                        <a class="btn btn-sm btn-outline-primary m-r-xs" @click="navigate" @keypress.enter="navigate" role="link">
                            <font-awesome-icon :icon="['fas','fa-list-ul']"/> Templates list</a>
                    </router-link>
                </div>
                <div class="card-body pb-0">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div v-bind:class="[errors.name ? 'row form-group has-error' : 'row form-group ']">
                                    <label class="col-sm-2 control-label pt-3">Name <small class="text-danger">*</small></label>
                                    <div class="col-sm-10">
                                        <input type="text" id="name" name="name" v-on:input="checkName" v-model="name"
                                               class="form-control" placeholder="Enter the template name">
                                        <span class="help-block m-b-none text-danger">{{ errors.name }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div v-bind:class="[errors.group ? 'row form-group has-error' : 'row form-group ']">
                                    <label class="col-sm-2 control-label pt-3 ">Group <small class="text-danger">*</small></label>
                                    <div class="col-sm-10">
                                        <input type="text" id="group" v-on:input="checkGroup" name="group" v-model="group"
                                               class="form-control" placeholder="Enter the group name">
                                        <span class="help-block m-b-none text-danger">{{ errors.group }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div v-bind:class="[errors.query ? 'row form-group has-error' : 'row form-group ']">
                                    <label class="col-sm-2 control-label pt-3 ">Query <small class="text-danger">*</small></label>
                                    <div class="col-sm-10">
                                    <textarea id="query" name="query" v-on:input="checkQuery" v-model="query"
                                              class="form-control"
                                              placeholder="Enter the template query"></textarea>
                                        <span class="help-block m-b-none text-danger">{{ errors.query }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label pt-3 pe-0">Variables</label>
                                    <div class="col-sm-10">
                                    <textarea id="variables" name="variables" v-model="variables" class="form-control"
                                              placeholder="Enter the query variables"></textarea>
                                        <span class="help-block m-b-none text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" v-if="message.length>0">
                            <div  v-bind:class="[errors.submit ? 'alert alert-danger' : 'alert alert-success', 'desable']" role="alert">
                                {{ message }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-header card-footer mb-0">
                    <button class="btn btn-secondary m-r-lg pull-left" type="reset">Cancel</button>
                    <button class="btn btn-primary pull-right" type="submit">Submit</button>
                </div>
            </div>
        </form>

    </div>
</div>