<div class="page-header apex-box">
    <h3 class="page-title"><span v-on:click="go('Overall')" class="page-title-icon bg-gradient-primary text-white me-2">
        <i class="mdi mdi-home" ></i></span> {{ $route.meta.description }}
    </h3>
<!--    <nav aria-label="breadcrumb">-->
<!--        <ul class="breadcrumb">-->
<!--            <li class="breadcrumb-item active" aria-current="page">-->
<!--                <span></span>{{ $route.name }} <i class="mdi mdi-animation-outline icon-sm text-primary align-middle"></i>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
</div>
