.slice-icon {
  background-image: url('../../../../public/img/5GBiller_-__Slices_-_logo_-_whiteV2.svg');
  background-repeat: no-repeat;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  font-size: 50px;
  text-align: center;
  width: 50px;

}

.card-counter {
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 10px 5px;
  background-color: #fff;
  height: 70px;
  border-radius: 5px;
  transition: .3s linear all;
}

.card-counter:hover {
  box-shadow: 4px 4px 20px #ccd6d6;
  transition: .4s linear all;
  z-index: 999;
}

.card-counter.bg-primary {
  background-color: #0071c7e8;
  color: #FFF;
}

.card-counter.bg-danger {
  background-color: #ef5350;
  color: #FFF;
}

.card-counter.bg-warning {
  background-color: #cd8700db;
  color: #FFF;
}

.card-counter.bg-success {
  background-color: #00a56db5;
  color: #FFF;
}

.card-counter.info {
  background-color: #26c6da;
  color: #FFF;
}

.card-counter svg {
  font-size: 4em;
  opacity: 0.5;
}

.card-counter:hover svg {
  z-index: 999;
  opacity: 0.9;
}

.card-counter .count-numbers {
  position: absolute;
  right: 35px;
  top: 5px;
  font-size: 32px;
  display: block;
}

.card-counter .count-name {
  position: absolute;
  right: 35px;
  top: 45px;
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 18px;
}