<div class="row">
    <div class="col-md-2 m-b" id="title-box">
        <div class="apex-box ">
            <h3 class="page-title ">
                <span  class="page-title-icon bg-gradient-primary text-white me-2"> <i :class="'mdi '+$route.meta.icon"></i></span>
                <span class="title">{{ $route.meta.description }}</span>
            </h3>
        </div>
    </div>
    <div class="col-md-10" id="input-box">
        <div class="row">
            <select-option class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 m-b" :type="'select'" :label="'Select a view'" :selectId="'title'"
                           :placeholder="'Select a view'"
                           :selectFunction="this.setView" :selectData="views"></select-option>
        </div>
    </div>
    <div class="col-12 grid-margin" v-if="Object.keys(tableData).length>0" v-for="(item, id) in tableData" >
        <div class="card">
            <div class="page-header card-header mb-0">
                <h3 class="page-title text-capitalize">{{ id}} models properties</h3>
                <div class="pull-right">
                    <a class="btn btn-sm btn-outline-primary text-capitalize"
                       v-on:click="addModel(id)"><i class="mdi mdi-plus-box"></i> add
                        {{ id }} </a>
                </div>
            </div>
            <div class="card-body" v-if="Object.keys(item).length>0">
                <div class="table-responsive text-capitalize">
                    <data-table v-bind="item"/>
                </div>
            </div>
        </div>
        <div v-bind:id="'add'+id+'form'" v-if="showForm[id]===true">
            <vue-form-generator :schema="controls[id].form"  :options="formOptions"></vue-form-generator>
        </div>
    </div>
</div>
