<div class="row">
    <select-option class="col-lg-4 col-md-4 m-b" :label="'Namespace'" :placeholder="'Select a namespace'"
                   :selectFunction="this.setNamespaces" :selectData="namespaces"></select-option>
    <date-picker class="col-lg-4 col-md-4 m-b" v-if="showDatePicker()" :that="this"></date-picker>
    <group-by class="col-lg-4 col-md-4 m-b" v-if="showGroup()" :that="this"></group-by>
    <div class="col-lg-12 col-md-12" v-if='this.activeNamespace != null'>
        <div class="apex-box">
            <div class="row">
                <Card class="col-md-4" :configuration=confCardNodes></Card>
                <Card class="col-md-4" :configuration=confCardPods></Card>
                <Card class="col-md-4" :configuration=confCardRating></Card>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 " v-if='barChartMetrics.height!==undefined'>
        <div class="apex-box">
            <div class=" row">
                <div class="col-lg-12">
                    <apex-charts :chartOptions="barChartMetrics.options" :height="barChartMetrics.height"
                                 :chartSeries="barChartMetrics.series"></apex-charts>
                </div>
            </div>
        </div>
    </div>
</div>