<!-- Main content -->
<section class="content">
    <!-- <meta charset="utf-8"> -->
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="box search-box m-b">
            <div class="row">
                <div v-if="showDatePicker()" class="col-md-6">
                    <label class="col-md-2">Select a date</label>
                    <VueRangedatePicker class="col-md-10" i18n="EN" @selected="refreshDate"></VueRangedatePicker>
                </div>
                <div class="col-md-6">
                    <label class="col-md-2">Select a namespace</label>
                    <div class="col-md-10">
                        <select class=" form-control" v-on:change="getNamespaces">
                            <option selected disabled> -- Select a Namespace -- </option>
                            <option v-for="option in selectForm" v-bind:value="option" v-bind:key="option">{{option}}</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div class="apex-box m-b" v-if='this.activeNamespace != null'>
            <div class=" row">
                <Card class="col-md-4" :configuration=confCardNodes :url=this.getCardNodesUrl()></Card>
                <Card class="col-md-4" :configuration=confCardPods :url=this.getCardPodsUrl()></Card>
                <Card class="col-md-4" :configuration=confCardRating :url=this.getCardRatingUrl()></Card>
            </div>
        </div>
        <div class="apex-box m-b" v-if='this.activeNamespace != null'>
            <div class=" row">
                <div class="col-lg-12" v-if='this.metricsHeight>0'>
                    <apex-charts  :chartOptions="nodeOptions" :height="nodeHeight" :chartSeries="nodeSeries"></apex-charts>
                </div>
                <BarChart class="pointer" :configuration=confBarChartMetrics :idL="'barChartMetrics'"  :dataS=this.getMetrics() />

            </div>
        </div>
        <div class="apex-box m-b" v-if='this.activeNamespace != null'>
            <div class=" row">
                <div class="col-lg-12">
                    <PieChart class="pointer" :configuration=confPieChartNodesPods :idL="'pieChartNodesPods'"  :dataS=this.getNodePods() />
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->