.xbi .spark-card {
  width: 100%;
  height: 7rem;
  background: var(--bs-white);
  border-radius: 0.5rem;
  overflow: hidden;
  justify-content: space-between;
  transition: all 0.2s;
  box-shadow: 0px 0px 25px 9px #0000000C;
}

.xbi {
  .spark-card.blue {
    border-bottom: 0.23rem solid var(--bs-blue);
  }

  .spark-card.cyan {
    border-bottom: 0.23rem solid var(--bs-cyan)
  }

  .spark-card.dark {
    border-bottom: 0.23rem solid var(--bs-dark);
  }

  .spark-card.danger {
    border-bottom: 0.23rem solid var(--bs-danger)
  }

  .spark-card.green {
    border-bottom: 0.23rem solid var(--bs-green);
  }

  .spark-card.indigo {
    border-bottom: 0.23rem solid var(--bs-indigo)
  }


  .spark-card.purple {
    border-bottom: 0.23rem solid var(--bs-purple)
  }

  .spark-card.light {
    border-bottom: 0.23rem solid var(--bs-light);
  }

  .spark-card.orange {
    border-bottom: 0.23rem solid var(--bs-orange)
  }

  .spark-card.pink {
    border-bottom: 0.23rem solid var(--bs-pink)
  }

  .spark-card.primary {
    border-bottom: 0.23rem solid var(--bs-primary)
  }

  .spark-card.purple {
    border-bottom: 0.23rem solid var(--bs-purple)
  }

  .spark-card.red {
    border-bottom: 0.23rem solid var(--bs-red)
  }

  .spark-card.secondary {
    border-bottom: 0.23rem solid var(--bs-secondary)
  }

  .spark-card.success {
    border-bottom: 0.23rem solid var(--bs-success)
  }

  .spark-card.teal {
    border-bottom: 0.23rem solid var(--bs-teal)
  }

  .spark-card.warning {
    border-bottom: 0.23rem solid var(--bs-warning)
  }

  .spark-card.yellow {
    border-bottom: 0.23rem solid var(--bs-yellow)
  }

}

.h-100 {
  height: 100%;
}

.xbi .spark-card .number, .stat-spark-card-line .rating {
  font-size: 1.8rem;
  opacity: 1;
}


.xbi .spark-card .date {
  font-size: 1.25rem;
  opacity: 1;
}

.xbi .spark-card .label {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.8;
}

.xbi :hover .chart svg, .xbi :hover .label, .xbi .apexcharts-title-text, .xbi .apexcharts-subtitle-text {
  opacity: 1;
}

.xbi :hover .date {
  opacity: 0.8;
}

.xbi .content {
  margin-top: auto;
  margin-bottom: auto;
}

.xbi .icon-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-card {
  width: 58px;
  height: 58px;
}

.icon-card.icon-shape svg, .icon-card.icon-shape i {
  width: 24px;
  height: 24px;
}

.xbi .multi-icon{
  display: flex;
}

.xbi .multi-icon svg {
  padding-right: 0.5rem;
  height: 1rem!important;
  width: 1rem!important;
}