<!-- Main content -->
<section class="content">
    <div id="app" class="form-group col-xs-2">
        <h4>Select a date</h4>
        <VueRangedatePicker  id="rangeDatePicker" v-model="date" i18n="EN" @selected="refreshDate"/>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">
                        <h3 class="box-title"></h3>
                        <div>
                            <div id="lineChartSpot">
                                <div class="col-sm-12">
                                    <p class="text-center">
                                        <strong v-if="lineChartRequestCpu">{{lineChartRequestCpu.title}}</strong>
                                    </p>
                                    <canvas class="pointer" @contextmenu.prevent="$refs.menu.open" @click.right="clicked" id="lineChartRequestCpu" height="80%"></canvas>
                                </div>
                                <div class="col-sm-12">
                                    <p class="text-center">
                                        <strong v-if="lineChartUsageCPU">{{lineChartUsageCPU.title}}</strong>
                                    </p>
                                    <canvas class="pointer" @contextmenu.prevent="$refs.menu.open" @click.right="clicked" id="lineChartUsageCPU" height="80%"></canvas>
                                </div>
                                <div class="col-sm-12">
                                    <p class="text-center">
                                        <strong v-if="lineChartRequestMemory">{{lineChartRequestMemory.title}}</strong>
                                    </p>
                                    <canvas class="pointer" @contextmenu.prevent="$refs.menu.open" @click.right="clicked" id="lineChartRequestMemory" height="80%"></canvas>
                                </div>
                                <div class="col-sm-12">
                                    <p class="text-center">
                                        <strong v-if="lineChartUsageMemory">{{lineChartUsageMemory.title}}</strong>
                                    </p>
                                    <canvas class="pointer" @contextmenu.prevent="$refs.menu.open" @click.right="clicked" id="lineChartUsageMemory" height="80%"></canvas>
                                </div>
                            </div>
                        </div>

                        <!-- <hr class="visible-xs-block"> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Main row -->
    <!-- /.row -->
</section>
<!-- /.content -->