<div class="row">
    <select-option class="col-lg-4 col-md-4 m-b" :replace="'rating-rule-instance-'" :by="''" :label="'Select instance'" :placeholder="'Select instance'" :selectFunction="this.setInstance" :selectData="instancesList" ></select-option>
    <date-picker class="col-lg-4 col-md-4 m-b" v-if="showDatePicker()" :that="this"></date-picker>
    <group-by class="col-lg-4 col-md-4 m-b" v-if="showGroup()" :that="this"></group-by>

    <div class="col-lg-12 col-md-12 col-xs-12 " v-if='instances.height!==undefined'>
        <apex-charts :chartOptions="instances.options" :height="instances.height" :chartSeries="instances.series"></apex-charts>
    </div>
</div>