<div class="row">
    <div class="col-md-2 m-b" id="title-box">
        <div class="apex-box ">
            <h3 class="page-title ">
                <span  class="page-title-icon bg-gradient-primary text-white me-2"> <i :class="'mdi '+$route.meta.icon"></i></span>
                <span class="title">{{ $route.meta.description }}</span>
            </h3>
        </div>
    </div>
    <div class="col-md-10" id="input-box">
        <div class="row">
            <select-option class="col-lg-4 col-md-6 col-sm-6 m-b" :type="'select'" :replace="'rating-rule-instance-'" :by="''" :label="'Select instance'" :placeholder="'Select instance'" :selectFunction="this.setInstance" :selectData="list" ></select-option>
            <select-option class="col-lg-4 col-md-6 col-sm-6 m-b" :type="'date'" v-if="showDatePicker()" :label="'Select a date'"
                           :selectFunction="setDate" :selectData="date"></select-option>
            <select-option class="col-lg-4 col-md-6 col-sm-6 m-b" :type="'group'" v-if="showGroup()" :label="'Group data by'"
                           :placeholder="'Select a group'" :defaultData="group" :selectFunction="setGroup"
                           :selectData="groupOptions"></select-option>
        </div>
    </div>
    <div class="col-12" v-if="Object.keys(this.chartModels).length>0">
        <div class="row">
            <div class="m-b " v-for="item in this.chartModels">
                <apex-charts :configuration="item" :from="from" :name="active" :queryBegin="queryBegin" :styles="chartStyle" :to="to" :group="group"></apex-charts>
            </div>
        </div>
    </div>
</div>