<div v-if='this.tenant !== ""' class="user-panel">
    <div class="pull-left image">
        <img :src="image" class="img-responsive"/>
    </div>
    <div class="pull-left info">
        <div>
            <p class="white">{{ tenant }}</p>
        </div>
        <span class="text-muted">{{ email }}</span>
        <form method="POST" v-bind:action='this.logoutUser()'>
            <input type="hidden">
            <button class="button2" type="submit">Logout</button>
        </form>
    </div>
</div>