<div class="col-md-12">
    <div class="apex-box">
        <div class="row">
            <div class="col-md-3 col-lg-3">
                <label class="p-2">Group data by</label>
            </div>
            <div class="col-md-9 col-lg-9">
                <select class=" form-control" v-on:change="setGroup">
                    <option disabled> -- Select a group --</option>
                    <option v-for="option in groupOptions" v-bind:value="option" v-bind:key="option"
                            :selected="option===group">{{
                            option
                        }}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>
