<div class="wrapper wrapper-content animated fadeInRight">
    <div class="box search-box m-b">
        <div class="row">
            <div class="col-md-6">
                <label class="col-md-3 col-lg-2">Select a node</label>
                <div class="col-md-9 col-lg-10">
                    <select class=" form-control" v-on:change="getNodes">
                        <option selected disabled> -- Select a Node --</option>
                        <option v-for="option in selectNodes" v-bind:value="option" v-bind:key="option">{{ option }}</option>
                    </select>
                </div>
            </div>
            <div v-if="showDatePicker()" class="col-md-6">
                <label class="col-md-3 col-lg-2">Select a date</label>
                <VueRangedatePicker class="col-md-9 col-lg-10" i18n="EN" @selected="refreshDate"></VueRangedatePicker>
            </div>
        </div>
    </div>
    <div class="apex-box m-b" v-if='this.activeNode != null'>
        <div class=" row">
            <Card class="col-md-4"  :configuration=confCardNamespaces :url=this.getCardNamespacesUrl()></Card>
            <Card class="col-md-4"  :configuration=confCardPods :url=this.getCardPodsUrl()></Card>
            <Card class="col-md-4"  :configuration=confCardRating :url=this.getCardRatingUrl()></Card>
        </div>
    </div>
    <div class="apex-box m-b" v-if='this.nameSpaceHeight>0'>
        <div class=" row">
            <div class="col-lg-12" >
                <apex-charts :chartOptions="nameSpaceOptions" :height="nameSpaceHeight" :chartSeries="nameSpaceSeries"></apex-charts>
            </div>
        </div>
    </div>
    <div class="apex-box m-b" v-if='this.metricsHeight>0'>
        <div class=" row">
            <div class="col-lg-12">
                <apex-charts :chartOptions="metricsOptions" :height="metricsHeight" :chartSeries="metricsSeries"></apex-charts>
            </div>
        </div>
    </div>
</div>