<div class="row">
    <div class="col-lg-3 col-md-3 col-xs-12  m-b ">
        <div class="apex-box">
            <div class="row">
                <div class="col-md-5 col-lg-5">
                    <label class="p-2">Select a node</label>
                </div>
                <div class="col-md-7 col-lg-7 ps-0">
                    <select class=" form-control" v-on:change="getNodes">
                        <option selected disabled> -- Select a node --</option>
                        <option v-for="option in selectNodes" v-bind:value="option" v-bind:key="option">{{
                                option
                            }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-12  m-b ps-0" v-if="showDatePicker()">
        <div class="apex-box">
            <div class="row">
                <div class="col-md-5 col-lg-5">
                    <label class="p-2">Select a date</label>
                </div>
                <VueRangedatePicker class="col-md-7 col-lg-7 ps-0" i18n="EN" v-model="date"
                                    @selected="refreshDate"></VueRangedatePicker>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-12  m-b ps-0" v-if="showDatePicker()">
        <div class="apex-box">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <label class="p-2">Group by</label>
                </div>
                <div class="col-md-8 col-lg-8 ps-0">
                    <select class=" form-control" v-on:change="refreshOptions">
                        <option selected disabled> -- Select a group --</option>
                        <option v-for="option in groupOptions" v-bind:value="option" v-bind:key="option">{{
                                option
                            }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 m-b" v-if='this.activeNode != null'>
        <div class="apex-box">
            <div class="row">
                <Card class="col-md-4" :configuration=confCardNamespaces></Card>
                <Card class="col-md-4 ps-0" :configuration=confCardPods></Card>
                <Card class="col-md-4 ps-0" :configuration=confCardRating></Card>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 m-b" v-if='nodeMetrics.height!==undefined'>
        <div class="apex-box">
            <div class=" row">
                <div class="col-lg-12">
                    <apex-charts :chartOptions="nodeMetrics.options" :height="nodeMetrics.height"
                                 :chartSeries="nodeMetrics.series"></apex-charts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 m-b" v-if='this.nameSpaceMetrics.height!==undefined'>
        <div class="apex-box">
            <div class=" row">
                <div class="col-lg-12">
                    <apex-charts :chartOptions="nameSpaceMetrics.options" :height="nameSpaceMetrics.height"
                                 :chartSeries="nameSpaceMetrics.series"></apex-charts>
                </div>
            </div>
        </div>
    </div>
</div>

