<div class="normal-case tracking-normal">
    <a @click.prevent="show" class="btn btn-sm btn-outline-primary text-capitalize">
        <font-awesome-icon :icon="['fas','fa-plus-square']"/>
        add {{ structureType }}</a>
    <modal :name="'view-add'+structureType" height="auto" :resizable="true" width="25%">
        <div class="modal-body">
            <slot name="body">
                <FormulateForm :name="'add-form'+structureType" v-model="model" @submit="submitForm(structureType)">
                    <h3>{{ 'add ' + structureType + ' form' }}</h3>
                    <component v-for="input in schema" :is="input.component" :key="input.name" v-bind="input"
                               v-show="showInput(input)"
                    ></component>
                    <FormulateInput type="submit" label="Submit"/>
                    <FormulateInput type="button" label="Cancel" data-ghost @click="cancel"/>
                </FormulateForm>
            </slot>
        </div>
    </modal>
</div>

