<div :class="hover ? 'col-sm-3 m-b' : 'col-sm-05 m-b'"  id="title-box" @mouseover="hover = true" @mouseleave="hover = false">
    <div class="apex-box">
        <div class="display-flex ">
            <div class="page-title pt-2 ps-1-5">
                <div class="page-title-icon bg-primary shadow text-white">
                    <font-awesome-icon width="16" height="24" class="text-white " :icon="['fas',icon]"/>
                </div>
            </div>
            <div class="page-title title pt-2 ms-2 p-0" id="box-title" :class="hover ? 'display-block' : 'display-none'" >{{ description}}</div>
        </div>
    </div>
</div>

