<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header ">
                <div class="dropdown profile-element">
                <span class="">
                  <img src="../../../../public/img/5GBiller_-_logo_7_.png" class="img-responsive"
                       style=" max-height: 61.25px;display: block;margin: auto">
                </span>
                </div>
                <div class="logo-element" style="height: 60px">
                    <img src="../../../../public/img/X-Bi_-_logo.png" class="img-responsive">
                </div>
            </li>
<!--            <li class="">-->
<!--                <a href="#"><i class="fa fa-pie-chart"></i> <span class="nav-label">MENU</span><span-->
<!--                        class="fa arrow"></span></a>-->
<!--                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">-->
<!--                    <router-link tag="li" class="pageLink" to="/home">-->
<!--                        <a>-->
<!--                            <i class="fa fa-home"></i>-->
<!--                            <span class="pages">Home</span>-->
<!--                        </a>-->
<!--                    </router-link>-->
<!--                    <router-link tag="li" class="pageLink" to="/namespaces">-->
<!--                        <a>-->
<!--                            <svg class="slice-icon2 svg-inline&#45;&#45;fa fa-w-32" color="white"></svg>-->
<!--                            <span class="pages">Namespaces</span>-->
<!--                        </a>-->
<!--                    </router-link>-->
<!--                    <router-link tag="li" class="pageLink" to="/nodes">-->
<!--                        <a>-->
<!--                            <i class="fa fa-server"></i>-->
<!--                            <span class="pages">Nodes</span>-->
<!--                        </a>-->
<!--                    </router-link>-->
<!--                    <router-link tag="li" class="pageLink" to="/pods">-->
<!--                        <a>-->
<!--                            <i class="fa fa-sitemap"></i>-->
<!--                            <span class="pages">Pods</span>-->
<!--                        </a>-->
<!--                    </router-link>-->
<!--                    <router-link tag="li" class="pageLink" to="/configuration">-->
<!--                        <a>-->
<!--                            <i class="fa fa-wrench"></i>-->
<!--                            <span class="pages">Configuration</span>-->
<!--                        </a>-->
<!--                    </router-link>-->
<!--                    <router-link tag="li" class="pageLink" to="/workflow">-->
<!--                        <a>-->
<!--                            <i class="fa fa-stream"></i>-->
<!--                            <span class="pages">Workflow</span>-->
<!--                        </a>-->
<!--                    </router-link>-->
<!--                </ul>-->
<!--            </li>-->
            <router-link tag="li" class="pageLink" to="/home">
                <a>
                    <i class="fa fa-home"></i>
                    <span class="pages">Home</span>
                </a>
            </router-link>
            <router-link tag="li" class="pageLink" to="/namespaces">
                <a>
                    <svg class="slice-icon2 svg-inline--fa fa-w-32" color="white"></svg>
                    <span class="pages">Namespaces</span>
                </a>
            </router-link>
            <router-link tag="li" class="pageLink" to="/nodes">
                <a>
                    <i class="fa fa-server"></i>
                    <span class="pages">Nodes</span>
                </a>
            </router-link>
            <router-link tag="li" class="pageLink" to="/pods">
                <a>
                    <i class="fa fa-sitemap"></i>
                    <span class="pages">Pods</span>
                </a>
            </router-link>
            <router-link tag="li" class="pageLink" to="/configuration">
                <a>
                    <i class="fa fa-wrench"></i>
                    <span class="pages">Configuration</span>
                </a>
            </router-link>
<!--            <router-link tag="li" class="pageLink" to="/workflow">-->
<!--                <a>-->
<!--                    <i class="fa fa-stream"></i>-->
<!--                    <span class="pages">Workflow</span>-->
<!--                </a>-->
<!--            </router-link>-->
        </ul>
    </div>
</nav>

