<center :ref="data.id">
    <router-link v-if="$route.meta.crud.show!==null && $route.meta.crud.show.url!==null && $route.meta.crud.show.id!==null" :to="data.url+'/'+data.id" custom v-slot="{ navigate }">
        <a class="btn btn-sm btn-outline-primary m-r-xs" @click="navigate" @keypress.enter="navigate" role="link">
            <font-awesome-icon :icon="['fas','fa-eye']"/> Display</a>
    </router-link>
    <button v-if="$route.meta.crud.delete!==null && $route.meta.crud.delete.url!==null" v-on:click="submitDeleteForm" type="button" class="btn btn-sm btn-outline-danger ">
        <font-awesome-icon :icon="['fas','fa-trash-can']"/> Delete
    </button>
</center>


