
    <div class="col-md-4 col-sm-6 col-xs-12 ">
        <div v-bind:class="' card-counter info-box bg-' + configuration.color"  @click="redirectCard()">
            <span class="info-box-icon"><svg v-bind:class="configuration.icon"></svg></span>
            <span class="count-numbers">{{this.value}}</span>
            <span class="count-name">{{configuration.label}}</span>
        </div>
        <span v-if="this.configuration.message !== undefined" class="info-box-number-rating">{{this.configuration.message}}</span>
    </div>

