<div class="row">
    <div class="col-md-2 m-b" id="title-box">
        <div class="apex-box">
            <div class="page-title pt-2">
                <span class="page-title-icon bg-gradient-primary text-white">
                    <font-awesome-icon  width="24" height="24" class="text-white " :icon="['fas',$route.meta.icon]"/>
                </span>
                <span class="title">{{ $route.meta.description }}</span>
            </div>
        </div>
    </div>
    <div class="grid-margin">
        <div class="card">
            <div class="page-header card-header mb-0">
                <h3 class="page-title">{{ id + ' ' + 'template display' }}</h3>

                <div class="pull-right">
                    <router-link to="/templates/create" custom v-slot="{ navigate }" class="pull-right ">
                        <a class="btn btn-sm btn-primary m-r-xs" @click="navigate" @keypress.enter="navigate" role="link"><font-awesome-icon :icon="['fas','fa-plus-square']"/> Create template</a>
                    </router-link>
                    <router-link to="/templates" custom v-slot="{ navigate }" class="pull-right ">
                        <a class="btn btn-sm btn-outline-primary m-r-xs" @click="navigate" @keypress.enter="navigate" role="link"><font-awesome-icon :icon="['fas','fa-list-ul']"/> Templates list</a>
                    </router-link>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="form-control" readonly v-model="value" id="value" name="value"></textarea>
                    </div>
                    <div class="col-md-12" v-if="message.length>0">
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

