<div class="wrapper wrapper-content pt-0 pl-0 animated fadeInRight">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <p class="m-b-md text-capitalize">{{id+' '+'instance display'}}
                    <router-link to="/instances" custom v-slot="{ navigate }" class="pull-right ">
                        <a class="btn btn-outline-primary m-r-xs" @click="navigate" @keypress.enter="navigate" role="link"><i class="fa fa-list"></i> Instances list</a>
                    </router-link>
                    <router-link to="/instances/create" custom v-slot="{ navigate }" class="pull-right ">
                        <a class="btn btn-outline-primary m-r-xs" @click="navigate" @keypress.enter="navigate" role="link"><i class="fa fa-plus"></i> Create instance</a>
                    </router-link>
                </p>
            </div>
            <div class="ibox-content">
                <div class="form-horizontal">
                    <div class="row">
                        <textarea readonly v-model="value" id="value" name="value" class="form-control"></textarea>
                        <div class="col-md-12" v-if="message.length>0">
                            <div  class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

