<nav class="sidebar sidebar-offcanvas shadow-sm" id="sidebar">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center bg-white nav-height">
        <a class="navbar-brand brand-logo">
            <img src="../../../../public/img/X-Bi_-_logo.png" class="img-responsive">
        </a>
        <a class="navbar-brand brand-logo-mini">
            <img src="../../../../public/img/X-Bi_-_logo.png" alt="logo"/>
        </a>
    </div>
    <ul class="nav">
        <div class="nav-profile m-4 ">
            <div class="pointer d-flex ms-2 me-2 ">
                <div class="nav-profile-image">
                    <img v-if='this.image !== ""' :src="image" alt="image">
                    <span class="availability-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2 text-capitalize">{{ tenant }}</span>
                    <span class=" text-small">{{ email }}</span>
                </div>
            </div>
        </div>
        <div v-for="item in menus">
            <div v-if="item.children!=undefined" class="">
                <li class="nav-item">
                    <h6 class="d-flex nowrap align-items-center m-3 mb-1 mt-2">
                        <div class="icon icon-shape icon-md  border-radius-lg  text-center d-flex align-items-center justify-content-center">
                            <font-awesome-icon class="menu-icon text-primary" :icon="['fas',item.icon]"/>
                        </div>
                        <span class="sub-menu-title text-uppercase font-weight-bolder text-primary">{{item.name}}</span>
                    </h6>
                </li>
                <router-link v-for="subItem in item.children" class="pointer" :to="'/'+subItem.name" custom v-slot="{ navigate }">
                    <li v-bind:class="$route.name==subItem.name || $route.path.includes((subItem.name).toLowerCase()) || ($route.path.includes((subItem.path).toLowerCase()) && subItem.path!='' && subItem.path!='/') ? 'nav-item active' : 'nav-item '">
                        <a class="nav-link menu-icon border-radius-md" @click="navigate" @keypress.enter="navigate"
                           role="link">
                            <div class="icon icon-shape icon-md shadow border-radius-lg  text-center ms-2 me-2 d-flex align-items-center justify-content-center">
                                <font-awesome-icon class="menu-icon" :icon="['fas',subItem.icon]"/>
                            </div>
                            <span class="menu-title ms-1">{{ subItem.name }}</span>
                        </a>
                    </li>
                </router-link>
            </div>
            <router-link v-else class="pointer" :to="{name:item.name, params:{routeName : item.name}}" custom
                         v-slot="{ navigate }">
                <li v-bind:class="$route.name==item.name || $route.path.includes((item.name).toLowerCase()) || ($route.path.includes((item.path).toLowerCase()) && item.path!='' && item.path!='/' )? 'nav-item active' : 'nav-item'">
                    <a class="nav-link menu-icon border-radius-md" @click="navigate" @keypress.enter="navigate"
                       role="link">
                        <div class="icon icon-shape icon-md shadow border-radius-lg  text-center ms-2 me-2 d-flex align-items-center justify-content-center">
                            <font-awesome-icon class="menu-icon" :icon="['fas',item.icon]"/>
                        </div>
                        <span class="menu-title ms-1">{{ item.name }}</span>
                    </a>
                </li>
            </router-link>
        </div>
        <div class="sidenav-footer nav-item mt-2 ">
            <div class="nav-link menu-icon border-radius-md display-block bg-primary text-white border-radius-lg">
                <a href="" class="icon icon-shape icon-md shadow border-radius-lg bg-white text-center ms-2 me-2 d-flex align-items-center justify-content-center">
                    <font-awesome-icon class=" text-primary text-primary text-lg " :icon="['fas','fa-info']"/>
                </a>
                <div class="docs-info ms-2 me-2 mt-2">
                    <h6>Need help?</h6>
                    <p class="font-weight-bold">Please check our docs</p>
                    <a href="" target="_blank" class="btn btn-outline-white  w-100 ">Documentation</a>
                </div>
            </div>
            <div class="nav-link mt-2 btn btn-outline-danger menu-icon border-radius-md border-radius-lg logout" role="link" v-on:click="logoutUser">
                <div class="icon icon-shape icon-md shadow border-radius-lg bg-white text-center ms-2 me-2 d-flex align-items-center justify-content-center">
                    <font-awesome-icon class=" menu-icon text-danger text-lg " :icon="['fas','fa-info']"/>
                </div>
                <span class="menu-title ms-1 ">Sign out</span>
            </div>
        </div>
    </ul>
</nav>
