<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header ">
                <div class="dropdown profile-element">
                <span class="">
                  <img src="../../../../public/img/X-Bi_-_logo.png" class="img-responsive"
                       style=" max-height: 61.25px;display: block;margin: auto">
                </span>
                </div>
                <div class="logo-element" style="height: 60px">
                    <img src="../../../../public/img/X-Bi_-_logo.png" class="img-responsive">
                </div>
            </li>
            <router-link to="/home" custom v-slot="{ navigate }">
                <li class="pageLink" > <a @click="navigate" @keypress.enter="navigate" role="link"><i class="fa fa-home"></i> Home</a></li>
            </router-link>
            <router-link to="/namespaces" custom v-slot="{ navigate }">
                <li class="pageLink" > <a @click="navigate" @keypress.enter="navigate" role="link"><svg class="slice-icon2 svg-inline--fa fa-w-32" color="white"></svg> Namespaces</a></li>
            </router-link>
            <router-link to="/nodes" custom v-slot="{ navigate }">
                <li class="pageLink" > <a @click="navigate" @keypress.enter="navigate" role="link"><i class="fa fa-server"></i> Nodes</a></li>
            </router-link>
            <router-link to="/pods" custom v-slot="{ navigate }">
                <li class="pageLink" > <a @click="navigate" @keypress.enter="navigate" role="link"><i class="fa fa-sitemap"></i> Pods</a></li>
            </router-link>
            <li>
                <a href="#"><i class="fa fa-wrench"></i> <span class="nav-label">Configuration  </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <router-link to="/templates" custom v-slot="{ navigate }">
                        <li class="pageLink" > <a @click="navigate" @keypress.enter="navigate" role="link"><i class="fa fa-stream"></i> Templates</a></li>
                    </router-link>
                </ul>
                <ul class="nav nav-second-level">
                    <router-link to="/instances" custom v-slot="{ navigate }">
                        <li class="pageLink" > <a @click="navigate" @keypress.enter="navigate" role="link"><i class="fa fa-stream"></i> Instances</a></li>
                    </router-link>
                </ul>
            </li>
        </ul>
    </div>
</nav>