/* override default */
.slice-icon2 {
  background-image: url('../../../../public/img/5G_Slices_-_logo_-_black_-_kube_only.svg');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-right: 1px;
  float: left;
  text-align: left;
}
