<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <div v-for="item in menus">
            <li v-if="item.children" class="nav-item pointer">
                <a class="nav-link " data-bs-toggle="collapse"  aria-expanded="false" aria-controls="ui-basic"
                   v-on:click="isActive[item.id] === true ? isActive[item.id] = false : isActive[item.id] = true">
                    <span class="menu-title">{{item.name}}</span>
                    <i v-bind:class="isActive[item.id] === true ? 'mdi mdi-chevron-down' : 'mdi mdi-chevron-left'"></i>
                    <i :class="'mdi '+item.icon+' menu-icon'"></i>
                </a>
                <div class="collapse" v-bind:class="isActive[item.id] === true || show[item.id] && show[item.id].indexOf($route.name)!== -1 ? 'display-block' : 'display-none'">
                    <ul class="nav flex-column sub-menu">
                        <router-link v-for="subItem in item.children"  class="pointer" :to="subItem.path" custom v-slot="{ navigate }">
                            <li v-bind:class="$route.name==subItem.name ? 'nav-item active' : 'nav-item '">
                                <a  class="nav-link" @click="navigate" @keypress.enter="navigate" role="link">
                                    <i :class="'mdi '+subItem.icon+' float-right'"></i>
                                    <span class="sub-menu-title">{{ subItem.name }}</span>
                                </a>
                            </li>
                        </router-link>
                    </ul>
                </div>
            </li>
            <router-link v-else  class="pointer"  :to="item.path" custom v-slot="{ navigate }">
                <li v-bind:class="$route.name==item.name ? 'nav-item active' : 'nav-item '">
                    <a class="nav-link" @click="navigate" @keypress.enter="navigate" role="link">
                        <span class="menu-title">{{ item.name }}</span>
                        <i :class="'mdi '+item.icon+' menu-icon'"></i>
                    </a>
                </li>
            </router-link>
        </div>
    </ul>
</nav>