<div class="normal-case tracking-normal">
    <a @click.prevent="show" class="btn btn-sm btn-outline-purple text-capitalize">
        <font-awesome-icon class="me-1" :icon="['fas','fa-pen-to-square']"/>
        edit</a>
    <modal :name="'edit-modal-'+structureType+modelId" height="auto" :resizable="true" width="25%">
        <div class="modal-body">
            <slot name="body">
                <FormulateForm :name="'edit-form-'+structureType+modelId" v-model="model" @submit="submitForm(structureType)">
                    <h3>{{ 'Edit ' + structureType + ' form' }}</h3>
                    <component  v-for="input in schema" :is="input.component" v-model="lastModel[input.name]" :key="input.name" v-bind="input" v-show="showInput(input)"></component>
                    <FormulateInput type="submit" label="Edit" class="f-right" />
                    <FormulateInput type="button" label="Cancel" data-ghost @click="cancel"/>
                </FormulateForm>
            </slot>
            {{lastModel}}

        </div>
    </modal>
</div>