
.xbi {
  background-color: #ffffff;
  overflow: hidden;
  transition: all 0.2s;
  width: 100%;
  border-radius: .25rem;
}

.xbi.spark-line {
  padding: 0.75rem;
  text-shadow: 0 1px 1px 1px #666;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  position: relative;
}

.xbi.spark-line.success {
  border-bottom: 0.23rem solid var(--bs-success);
}

.xbi.spark-line.warning {
  border-bottom: 0.23rem solid var(--bs-warning)
}

.xbi.spark-line.primary {
  border-bottom: 0.23rem solid var(--bs-primary)
}

.xbi.spark-line.danger {
  border-bottom: 0.23rem solid var(--bs-danger)
}

.xbi.spark-line.purple {
  border-bottom: 0.23rem solid var(--bs-purple)
}

.xbi.spark-line svg {
  height: 100%;
  opacity: 0.8;
}

.xbi.spark-line .number, .stat-spark-line .rating {
  font-size: 2.25rem;
  opacity: 1;
}

.xbi.spark-line .date {
  font-size: 1.25rem;
  opacity: 1;
}

.xbi.spark-line .label {
  font-size: 1rem;
  opacity: 0.8;
}


.xbi.spark-line :hover svg, .xbi.spark-line :hover .label {
  opacity: 1;
}

.xbi.spark-line :hover .number, .xbi.spark-line :hover .date {
  opacity: 0.8;
}

