<router-link class="pointer" :to="configuration.redirect ? configuration.redirect : ''" custom v-slot="{ navigate }">
    <div class="xbi" v-if="configuration !== undefined " @click="navigate" @keypress.enter="navigate" role="link">
        <div class="display-flex xbi-card pointer p-3"
             :class="configuration.type!=='chart' ? 'bg-gradient-'+configuration.color : configuration.color">
            <div class="card-content">
                <div class="icon-card text-center border-radius-md center" v-if="configuration.type!='chart'">
                    <font-awesome-icon class="h-100" :icon="['fas',configuration.icon]"/>
                </div>
                <apexcharts v-if="Object.keys(sparkLine).length>0 && configuration.type==='chart'"
                            class="pe-2 center chart-card" :ref="configuration.id" :options="sparkLine.options"
                            :series="sparkLine.series" :height="sparkLine.height"></apexcharts>

            </div>
            <div class="text-content">
                <div :class="'display-block '+configuration.type">
                    <div class="text-end mb-0 pb-0">
                    <span>
                        <span class="value h2">{{ configuration.value }}</span>
                        <span v-if=" configuration.unit!==null || configuration.unit!==undefined || configuration.unit!=''"
                              class="unit h4"> {{configuration.unit }}</span>
                    </span>
                        <br class="p-0 m-0" v-if="configuration.type!='multi-icon'">
                        <span class=" text-capitalize label h5"> {{ configuration.title }}</span>
                    </div>
                    <div v-if="configuration.type==='multi-icon' && configuration.method==='lstm' && Object.keys(lstm).length>0 "
                         class="multi-icon d-flex float-end text-center ">
                        <div class="icon">
                            <small><strong>Now</strong></small>
                            <br>
                            <small v-if="lstm.today">{{ lstm.today.toFixed(2) }}
                                <font-awesome-icon class="opacity-85" :icon="['fas',configuration.icon]"/>
                            </small>
                        </div>
                        <div class="icon ms-2">
                            <small><strong>24h</strong></small>
                            <br>
                            <small v-if="lstm.tomorrow">{{ lstm.tomorrow.toFixed(2) }}
                                <font-awesome-icon class="opacity-75"
                                                   :icon="['fas',lstm.tomorrow > lstm.today ? 'fa-arrow-up-wide-short':'fa-arrow-down-wide-short']"/>
                            </small>

                        </div>
                        <div class="icon ms-2">
                            <small><strong>48h</strong></small>
                            <br>
                            <small v-if="lstm.after_tomorrow">{{ lstm.after_tomorrow.toFixed(2) }}
                                <font-awesome-icon class="opacity-60"
                                                   :icon="['fas',lstm.after_tomorrow > lstm.tomorrow ? 'fa-arrow-up-wide-short':'fa-arrow-down-wide-short']"/>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</router-link>
