<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <side-menu :xBiInfo="xBiInfo" :user="user" :menus="menus" :isActive="isActive" :show="show"></side-menu>
        <div class="main-panel">
            <header-layout :user="user"></header-layout>
            <div class="content-wrapper">
                <router-view name="content"></router-view>
            </div>
            <footer-layout :footer="footer"></footer-layout>
        </div>
    </div>
</div>
