<section class="content">
    <div class="row">
        <div class="form-group col-xs-2">
            <h4>Select a version</h4>
            <select class="form-control" v-on:change="getVersion">
                <option selected disabled> -- Select a version --</option>
                <option v-for="option in configListIndexes" v-bind:value="option" v-bind:key="option">{{
                        option
                    }}
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                    <div class="col-md-4 col-sm-6 col-xs-12" v-for="card in cards" v-bind:key="card.label">
                        <card :card="card"/>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-if='showYaml()'>
        <div>
            <a href="#" @click="newConfig()" class="export-button">CREATE CONFIGURATION</a>
        </div>
        <div v-if='canDeleteConfig()'>
            <a href="#" @click="deleteConfig()" class="export-button">DELETE CONFIGURATION</a>
        </div>
        <b></b>
        <div class="input-area" v-if="showYaml()">
            <code id="metrics-display" class="lang-yaml">
          <pre contenteditable required>
{{ metricsYAML }}
          </pre>
            </code>
            <code id="rules-display" class="lang-yaml">
          <pre contenteditable required>
{{ rulesYAML }}
          </pre>
            </code>
        </div>
    </div>
</section>
