<div class="row">
    <div class="col-md-2 m-b" id="title-box">
        <div class="apex-box ">
            <h3 class="page-title ">
                <span  class="page-title-icon bg-gradient-primary me-2">
                    <font-awesome-icon class="text-white" :icon="['fas',$route.meta.icon]"/>
                </span>
                <span class="title">{{ $route.meta.description }}</span>
            </h3>
        </div>
    </div>
    <div class="col-md-10" id="input-box" v-if="Object.keys(structure.select.models).length>0">
        <div class="row">
            <select-option v-for="item in structure.select.models" class="col-lg-4 col-md-6 col-sm-6 m-b "
                           :type="item.type"
                           :label="item.title"
                           :defaultData="item.default_data"
                           :placeholder="item.placeholder"
                           :selectFunction="item.type === 'date' ?  setDate : item.type === 'group' ?  setGroup : ''"
                           :selectData="item.type === 'date' ?  date : item.type === 'group' ?  groupOptions : ''" >
            </select-option>
        </div>
    </div>
    <div class=" col-12" v-if="Object.keys(structure.card.models).length>0">
        <div class="row">
            <div v-for="item in structure.card.models" :class="item.display_space === '1/3' ? 'col-sm-4 m-b' : item.display_space === '2/3' ? 'col-sm-8 m-b' : 'col-sm-12 m-b'">
                <Card :configuration="item" :queryBegin="queryBegin" :from="from" :to="to"></Card>
            </div>
        </div>
    </div>
    <div class="col-12" v-if="Object.keys(structure.chart.models).length>0">
        <div class="row">
            <div v-for="item in structure.chart.models" :class="item.display_space === '1/2' ? 'col-md-6 col-sm-12 m-b' : 'col-sm-12 m-b'">
                <apex-charts :configuration="item" :queryBegin="queryBegin" :from="from" :styles="structure.chart.styles" :to="to" :group="group"></apex-charts>
            </div>
        </div>
    </div>
</div>