<div class="row">
    <div class="col-md-2 m-b" id="title-box">
        <div class="apex-box ">
            <h3 class="page-title ">
                <span  class="page-title-icon bg-gradient-primary text-white me-2"> <i :class="'mdi '+$route.meta.icon"></i></span>
                <span class="title">{{ $route.meta.description }}</span>
            </h3>
        </div>
    </div>
    <div class="col-md-10" id="input-box">
        <div class="row">
            <select-option class="col-lg-4 col-md-6 col-sm-6 m-b " :type="'date'" :label="'Select a date'"
                           :selectFunction="setDate"
                           :selectData="date"></select-option>

            <select-option class="col-lg-4 col-md-6 col-sm-6 m-b " :type="'group'" :label="'Group data by'"
                           :placeholder="'Select a group'" :defaultData="group" :selectFunction="setGroup"
                           :selectData="groupOptions"></select-option>
        </div>
    </div>
    <div class=" col-12" v-if="Object.keys(structure.card.models).length>0">
        <div class="row">
            <div v-for="item in structure.card.models" :class="item.display_space === '1/3' ? 'col-sm-4 m-b' : item.display_space === '2/3' ? 'col-sm-8 m-b' : 'col-sm-12 m-b'">
                <Card :configuration="item" :queryBegin="queryBegin" :from="from" :to="to"></Card>
            </div>
        </div>
    </div>
    <div class="col-12" v-if="Object.keys(structure.chart.models).length>0">
        <div class="row">
            <div v-for="item in structure.chart.models" :class="item.display_space === '1/2' ? 'col-md-6 col-sm-12 m-b' : 'col-sm-12 m-b'">
                <apex-charts :configuration="item" :queryBegin="queryBegin" :from="from" :styles="structure.chart.styles" :to="to" :group="group"></apex-charts>
            </div>
        </div>
    </div>
</div>