.pt-2 {
  padding-top: .5rem !important
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.img.container {
  text-align: center;
  width: 100%;
}

img.avatar {
  width: 100px;
  height:100px;
  padding: 2px;
  background: transparent;
}

img.responsive {
  max-width: 100%;
  height: auto;
}



/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}



// Font Family
$body-font: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font Weights
$thin: 100;
$light: 300;
$regular: 400;
$semibold: 500;
$bold: 700;
$ultra: 800;

// Base Font
$base-font-family: $body-font;
$base-font-size: 14px;
$base-font-weight: $regular;
$base-line-height: 1.6em;

// Colors
$black: #344767;
$dark-gray: rgba($black, 0.8);
$gray: #67748e;
$light-gray: rgba($black, 0.4);
$lighter-gray: rgba($black, 0.2);
$white: #f8f9fa;
$accent: #344767;

// Form Settings
$max-width: 600px;
$max-height: 400px;
$gutters: 24px;

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: rgba($black, 0.8);
  width: 100%;
  height: 100%;
}

.form {
  z-index: 15;
  position: relative;
  background: $white;
  width: $max-width;
  border-radius: 0.75rem;
  box-shadow: 0 0 30px rgba($black, .1);
  box-sizing: border-box;
  margin: 100px auto 10px;
  overflow: hidden;

  // Toggle
  &-toggle {
    z-index: 10;
    position: absolute;
    top: 60px;
    right: 60px;
    background: $white;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transform-origin: center;
    transform: translate(0, -25%) scale(0);
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 4px;
      background: $accent;
      transform: translate(-50%, -50%);
    }

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &.visible {
      transform: translate(0, -25%) scale(1);
      opacity: 1;
    }
  }

  &-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;

    &:last-child {
      margin: 0;
    }

    input {
      background-color: rgba($black, 0.1);
      border: 0;
      border-radius: 0.75rem;
      box-sizing: border-box;
      color: $gray;
      font-family: inherit;
      font-size: inherit;
      font-weight: $semibold;
      line-height: inherit;
      transition: 0.3s ease;

      &:focus {
        color: $dark-gray;
      }

      .two & {
        color: $white;

        &:focus {
          color: $white;
        }
      }
    }

    button {
      outline: none;
      background: $accent;
      width: 100%;
      border: 0;
      border-radius: 0.75rem;
      padding: 12px 20px;
      color: $white;
      font-family: inherit;
      font-size: inherit;
      font-weight: $semibold;
      line-height: inherit;
      text-transform: uppercase;
      cursor: pointer;

      .two & {
        background: $white;
        color: $accent;
      }
    }

    .form-remember {
      font-size: 14px;
      font-weight: $regular;
      letter-spacing: 0;
      text-transform: none;
      span {
        font-size: 14px;
        font-weight: 500;
      }
      input[type='checkbox'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 3.5em;
        height: 1.5em;
        background: #ddd;
        border-radius: 3em;
        position: relative;
        top: 5px;
        cursor: pointer;
        outline: none;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        margin: 0 10px 0 0;
      }
      input[type='checkbox']:checked:after {
        left: calc(100% - 1.5em);
      }
      input[type="checkbox"].primary:checked{
        background: #344767;
      }
    }

    .form-recovery {
      color: $accent;
      font-size: 14px;
      text-decoration: none;
      padding-top: 6px;
    }
  }

  // Panel
  &-panel {
    padding: 60px calc(5% + 60px) 60px 60px;
    box-sizing: border-box;

    // Panel One
    &.one {
      &:before {
        @extend .overlay;

        content: '';
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
      }

      &.hidden {
        &:before {
          display: block;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    // Panel Two
    &.two {
      z-index: 5;
      position: absolute;
      top: 0;
      left: 95%;
      background: $accent;
      width: 100%;
      min-height: 100%;
      padding: 60px calc(10% + 60px) 60px 60px;
      transition: 0.3s ease;
      cursor: pointer;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 60px;
        left: 1.5%;
        background: rgba($white, 0.2);
        height: 30px;
        width: 2px;
        transition: 0.3s ease;
      }

      &:after {
        left: 3%;
      }

      &:hover {
        left: 93%;
        box-shadow: 0 0 10px rgba($black, 0.2);

        &:before,
        &:after {
          opacity: 0;
        }
      }

      &.active {
        left: 10%;
        box-shadow: 0 0 10px rgba($black, 0.2);
        cursor: default;

        &:before,
        &:after {
          opacity: 0;
        }
      }
    }
  }

  // Header
  &-header {
    margin: 20px;
    h1 {
      padding: 4px 0;
      color: $accent;
      font-size: 22px;
      font-weight: $bold;
      text-transform: uppercase;

      .two & {
        position: relative;
        z-index: 40;
        color: $white;
      }
    }
  }

  // Content
  &-content {}

  &-footer {}
}

// Pen Footer
.pen-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: $max-width;
  margin: 20px auto 100px;

  a {
    color: $white;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 1px 2px 0 rgba($black, .1);

    .material-icons {
      width: 12px;
      margin: 0 5px;
      vertical-align: middle;
      font-size: 12px;
    }
  }
}

.cp-fab {
  background: $white !important;
  color: $accent !important;
}