.order-card {
  color: #fff;
}

.card {
  border-radius: 0.15rem;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 30px;
  display: grid;
}


.card i, {
  font-size: 30px;
  opacity: 0.5;
}

.order-card .name, {
  opacity: 0.7;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.card :hover {
  cursor: pointer;
}

.card :hover .number {
  opacity: 0.8;
}

.card:hover i, .card:hover .name, {
  opacity: 1;
}
