<div v-if="configuration !== undefined" class="stretch-card grid-margin mb-0 ">
    <div :class="'card bg-gradient-'+configuration.colorLabel+' order-card pointer'" @click="redirectCard()">
        <div class="card-block">
            <h2 class="text-right">
                <i v-if="configuration.icon!=undefined" v-bind:class="configuration.icon+' f-left'"></i>
                <strong class="number f-right">{{ configuration.value }}</strong>
            </h2>
            <p class="p-0 m-0">
                <span v-if="configuration.message !== undefined" class="info-box-number-rating f-left p-0 m-0">{{ configuration.message }}</span>
                <strong class="f-right name p-0 m-0">{{ configuration.label }}</strong>
            </p>
        </div>
    </div>
</div>
