.stat-card {
  width:100%;
  color:#ffffff;
  padding: 1rem;
  border-radius: .25rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  transition: all 0.2s;
}
.stat-card :hover {
  cursor: pointer;
}
.stat-card .number,.stat-card .rating{
  font-size: 2.25rem;
  opacity: 1;
}
.stat-card .date{
  font-size: 1.25rem;
  opacity: 1;
}
.stat-card  .label, {
  font-size: 1rem;
  opacity: 0.7;
}

.stat-card i, {
  font-size: 3.5rem;
  opacity: 0.7;
}
.stat-card:hover i, .stat-card:hover .label,{
  opacity: 1;
}
.stat-card:hover .number, .stat-card:hover .date{
  opacity: 0.7;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}