<div class="row">
    <div class="col-md-2 m-b" id="title-box">
        <div class="apex-box">
            <div class="page-title pt-2">
                <span class="page-title-icon bg-gradient-primary text-white">
                    <font-awesome-icon class="text-white " :icon="['fas',$route.meta.icon]"/>
                </span>
                <span class="title">{{ $route.meta.description}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-10" id="input-box" v-if="Object.keys(select.models).length>0">
        <div class="row">
            <select-option v-for="(item,keys) in select.models" class="col-lg-4 col-md-6 col-sm-6 m-b"
                           v-if="(item.type === 'date' ? showDatePicker() : item.type === 'group' ? showGroup() : true) === true"
                           :type="item.type"
                           :label="item.title"
                           :selectId=item.query_name
                           :defaultData="item.default_data"
                           :placeholder="item.placeholder"
                           :selectFunction="item.type === 'date' ?  setDate : item.type === 'group' ?  setGroup : item.type === 'dynamic' ? setDynamicDataSelect : ''"
                           :selectData="item.type === 'date' ?  date : item.type === 'group' ? groupOptions : item.type === 'dynamic' ?  dynamicData : '' ">
            </select-option>
        </div>
    </div>
    <div class="col-12" v-if="Object.keys(structure.card.models).length>0">
        <div class="row">
            <div class="col-sm-4 m-b" v-for="item in structure.card.models">
                <Card :configuration="item" :queryBegin="queryBegin" :from="from" :to="to"></Card>
            </div>
        </div>
    </div>
    <div class="col-12" v-if="Object.keys(structure.chart.models).length>0">
        <div class="row">
            <div class="m-b " v-for="item in structure.chart.models">
                <apex-charts :configuration="item" :from="from" :queryBegin="queryBegin"
                             :styles="structure.chart.styles" :to="to"
                             :group="group"></apex-charts>
            </div>
        </div>
    </div>
</div>